* {
  padding: 0;
  margin: 0;
}

.wrapper-lottery-number-generator {
  background-image: url("../images/imagesBgi.png");
  width: 100wh;
  height: 50vw;
}

.wrapper-game-math-4-kids {
  background-color: #ffffff;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.lottery-number-generator__contents {
  padding-top: 30px;
}
.lottery-number-generator__contents ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
.lottery-number-generator__contents ul li {
  list-style: none;
}
.lottery-number-generator__contents__lotterynumbergenerator {
  color: #F00;
  font-family: Lora;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.lottery-number-generator__contents__gamemath4kids {
  color: #000;
  font-family: Lora;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.lottery-number-generator__contents__gamemath4kids:hover {
  color: #9E00FF;
}
.lottery-number-generator__contents__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  margin: 100px auto;
  text-align: center;
}
.lottery-number-generator__contents__content__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.lottery-number-generator__contents__content__name h2 {
  color: #000;
  font-family: Lora;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.lottery-number-generator__contents__content__name p {
  color: #000;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.lottery-number-generator__contents__content__generator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.lottery-number-generator__contents__content__generator__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
.lottery-number-generator__contents__content__generator__content__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 80px;
  border: 3px solid #666;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.lottery-number-generator__contents__content__generator__content__number h3 {
  color: #F00;
  text-align: center;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.lottery-number-generator__contents__content__generator__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 77px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  border: none;
  background: #9E00FF;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.lottery-number-generator__contents__content__generator__button:hover {
  background-color: #906EA6;
}